{% include "header.html" %}

<body>
  <div class="top-section contact-top-section">
    <nav class="navbar navbar-expand-lg navbar-dark" >
     <div class='container-fluid'>
      <a class="navbar-brand" href="{{ url_for('home') }}">Sam's Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         Menu <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNav">
       {% include "navbar.html" %}
      </div>
    </div>
   </nav>
   <div class="homepage-titles">
    <h1 class="homepage-title" style="margin-top: 100px">Contact Me</h1>
    <h2 class="homepage-subtitle">Any issues or queries, please let us know</h2>
   </div>

  </div>

   <div class="contact-content">
     <form action="{{ url_for('contact') }}" method="post">
        <p style="font-size: 1.4rem; margin: 50px 0 20px">Want to get in touch? Fill out the form below to send me a message and I will get back to you soon!</p>
        <input class="contact-form-text" type="text" placeholder='Name' name="name">
        <hr class="post-divider" style="width: 100%">
        <input class="contact-form-text" type="text" placeholder='Email Address' name="email">
        <hr class="post-divider" style="width: 100%">
        <input class="contact-form-text" type="text" placeholder='Phone Number' name="phone">
        <hr class="post-divider" style="width: 100%">
        <textarea class="message" type="text" placeholder='Message' name="message"></textarea>


        <hr class="post-divider" style="width: 100%">
        <button class="nav-link button" type="submit" style="height: 60px; margin: 40px 0;">Send</button>
     </form>
   </div>
   <hr class="post-divider" style="width:100%">

   {% include "footer.html" %}


</body>
</html>